# Dependencies
node_modules/
sample/

# Build output
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary
tmp/
temp/

# Optional package manager caches
.npm/
.pnpm-store/

# Runtime files
*.pid
*.seed
*.pid.lock